{
  "openapi": "3.0.1",
  "info": {
    "title": "Hepsiburada - Muhasebe Entegrasyonu",
    "description": "MpFinance External Api",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://mpfinance-external-sit.hepsiburada.com"
    }
  ],
  "paths": {
    "/transactions/merchantid/{merchantId}": {
      "get": {
        "tags": [
          "Kayıt Bazlı Muhasebe Servisi"
        ],
        "summary": "Kayıt Bazlı Muhasebe Servisi",
        "description": "Servis, ödeme ve faturaları listelemenize olanak tanır.",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "OrderNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PackageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ReferenceDocument",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TransactionTypes",
            "in": "query",
            "description": "Transaction type filter. Leave it empty for all types. Or provide one or more types as a comma-separated string.\n\n**Allowed values:** `AdBalanceTopUpFromAllowanceRefund`, `OutboundCustomerSatisfaction`, `GoldLaborStoppage`, `Return`, `AdSharingExpenseRefund`, `CommissionRefund`, `SfsInterest`, `InboundCustomerSatisfaction`, `LateInterestExpense`, `ProductsReportedByService`, `PaymentServiceCostReflection`, `VAT`, `CommissionCorrection`, `MarketingExpense`, `ProcessingFeeExpenseRefund`, `MpCompensationIncome`, `CargoLimitExcessCompensationIncome`, `MarketingExpenseRefund`, `StudioExpense`, `ShipmentCostSharingExpense`, `RefusedInvoiceExpense`, `RevenueExpense`, `ProcessingFeeExpense`, `OverseasCommissionRefund`, `Chargeout`, `InternationalOperationFee`, `HepsiGlobalTransferExpense`, `OutboundCustomerSatisfactionRefund`, `BnplProcessingFeeRefund`, `CargoCompensationSellerSatisfactionIncome`, `ReturnProcessingFeeExpense`, `MarketingSupportParticipationRefund`, `BnplOrder`, `DropShipmentCostSharingExpense`, `MpScrapIncome`, `ReturnDeliveryProcessingFee`, `Commission`, `Deposit`, `Stoppage`, `LineItemTransferExpense`, `SponsorshipFee`, `CustomerSatisfaction`, `CargoCompensationIncomeRefund`, `GoldLaborStoppageRefund`, `MarketingSupportParticipation`, `EInvoiceSalesRefund`, `TransportExpense`, `AdSharingExpense`, `FacebookAdExpense`, `CampaignDiscount`, `EInvoiceSales`, `PaymentServiceCostReflectionRefund`, `ShipmentCostSharingIncome`, `RoadAssistanceExpenseRefund`, `DropShipmentCostSharingIncome`, `AdBalanceTopUpFromAllowance`, `OneClickReturnShipmentCostSharingExpense`, `RoadAssistanceExpense`, `RevenueIncome`, `BnplProcessingFee`, `LineItemTransferIncome`, `InvoiceReversalIncome`, `CommissionInvoiceRefund`, `StoppageRefund`, `FigoPara`, `CargoCompensationExpenseRefund`, `BalanceCorrection`, `BnplRefund`, `ReturnShipmentCostSharingExpense`, `HepsiGlobalCampaignDiscount`, `FaturaLab`, `Payment`, `CargoCostRefund`, `InternationalOperationFeeRefund`, `DeliveryProcessingFee`, `CustomerSatisfactionRefund`, `HepsiGlobalTransferIncome`, `InvoiceReversalExpense`, `MpScrapExpense`, `TransportExpenseRefund`, `CampaignDiscountRefund`, `CargoMargin`, `RefusedInvoiceExpenseRefund`, `TotalPayment`, `DeliveryProcessingFeeRefund`, `PriceDifferenceRefund`, `CargoCompensationIncome`, `PriceDifferenceExpense`, `MpOutletProductExpense`, `InboundCustomerSatisfactionRefund`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Status filter. Leave it empty for all statuses. Or provide one or more types as a comma-separated string.\n\n**Allowed values:** `Paid`, `WillBePaid`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sku",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDateStart",
            "in": "query",
            "description": "Prioritize OrderDate over other date filters, for better response times",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OrderDateEnd",
            "in": "query",
            "description": "Prioritize OrderDate over other date filters, for better response times",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DueDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DueDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "RecordDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "RecordDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PaymentDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PaymentDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Integrator application identifier. Required for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "transactionType": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "packageNumber": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "invoiceNumber": {
                            "type": "string"
                          },
                          "orderItemNumber": {
                            "type": "string"
                          },
                          "quantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "format": "double"
                              },
                              "currencyCode": {
                                "type": "string"
                              }
                            }
                          },
                          "taxAmount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "format": "double"
                              },
                              "currencyCode": {
                                "type": "string"
                              }
                            }
                          },
                          "netAmount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "format": "double"
                              },
                              "currencyCode": {
                                "type": "string"
                              }
                            }
                          },
                          "orderDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "invoiceDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "paymentDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "invoiceExplanation": {
                            "type": "string",
                            "nullable": true
                          },
                          "merchantId": {
                            "type": "string"
                          },
                          "isInvoice": {
                            "type": "boolean"
                          },
                          "isIncome": {
                            "type": "boolean"
                          },
                          "transactionTypeCategory": {
                            "type": "string"
                          },
                          "productName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    },
                    "exceptionCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    },
                    "exceptionCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    },
                    "exceptionCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    },
                    "exceptionCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/merchantid/{merchantId}": {
      "get": {
        "tags": [
          "Performans Servisi"
        ],
        "summary": "Performans Servisi",
        "description": "Servis, sipariş ve ürün detayı bazında finansal performansın listelenmesine olanak tanır.",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "DueDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DueDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OrderDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OrderDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OrderNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sku",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Integrator application identifier. Required for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderNumber": {
                            "type": "string"
                          },
                          "merchantId": {
                            "type": "string"
                          },
                          "orderDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "sku": {
                            "type": "string"
                          },
                          "productName": {
                            "type": "string"
                          },
                          "invoiceDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "allowanceAmount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "format": "double"
                              },
                              "currencyCode": {
                                "type": "string"
                              }
                            }
                          },
                          "quantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "unitAmount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "format": "double"
                              },
                              "currencyCode": {
                                "type": "string"
                              }
                            }
                          },
                          "income": {
                            "type": "object",
                            "properties": {
                              "totalAmount": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "currencyCode": {
                                    "type": "string"
                                  }
                                }
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "transactionType": {
                                      "type": "string"
                                    },
                                    "amount": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "currencyCode": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "expense": {
                            "type": "object",
                            "properties": {
                              "totalAmount": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "currencyCode": {
                                    "type": "string"
                                  }
                                }
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "transactionType": {
                                      "type": "string"
                                    },
                                    "amount": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "currencyCode": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    },
                    "exceptionCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    },
                    "exceptionCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    },
                    "exceptionCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    },
                    "exceptionCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basic": {
        "type": "http",
        "description": "Basic Authorization",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basic": []
    }
  ],
  "tags": [
    {
      "name": "Kayıt Bazlı Muhasebe Servisi"
    },
    {
      "name": "Performans Servisi"
    }
  ]
}
