{
  "openapi": "3.0.1",
  "info": {
    "title": "HEPSIBURADA - SATICI PROMOSYONU ENTEGRASYONU",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://diskonto-external-sit.hepsiburada.com"
    }
  ],
  "paths": {
    "/self-campaign/{merchantId}/tl-discount": {
      "post": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Sepete TL İndirimi Oluşturma",
        "description": "Satıcının \"Sepete TL İndirimi\" oluşturmasına olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Sepette TL İndirimi Oluşturma",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "TL indirimi kampanyası oluşturulması için gerekli istek verilerini içerir.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTLSelfCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İşlem başarılı. Oluşturulan kampanyanın bilgilerini döner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSelfCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek. Gönderilen verilerde hata var.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/self-campaign/{merchantId}/percent-discount": {
      "post": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Sepete Yüzde İndirimi Oluşturma",
        "description": "Satıcının \"Sepete Yüzde İndirimi\" oluşturmasına olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Sepete % İndirimi Oluşturma",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Yüzde indirimi kampanyası oluşturulması için gerekli istek verilerini içerir.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePercentSelfCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İşlem başarılı. Oluşturulan kampanyanın bilgilerini döner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSelfCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek. Gönderilen verilerde hata var.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/self-campaign/{merchantId}/xy-discount": {
      "post": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Sepete X Al Y Öde İndirimi Oluşturma",
        "description": "Satıcının \"Sepete X Al Y Öde İndirimi\" oluşturmasına olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Sepete X Al Y Öde İndirimi Oluşturma",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "X Al Y Öde indirimi kampanyası oluşturulması için gerekli istek verilerini içerir.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateXYSelfCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İşlem başarılı. Oluşturulan kampanyanın bilgilerini döner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSelfCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek. Gönderilen verilerde hata var.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/self-campaign/{merchantId}/discounts": {
      "get": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Sepet İndirimleri Sorgulama",
        "description": "Satıcının sepet indirimlerini sorgulamasına olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Sepet İndirimleri Sorgulama",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Hangi sayfanın görüntüleneceğini belirler."
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "İşlem başarılı. İndirime ait liste bilgilerini döner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfCampaignDiscountListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/self-campaign/{merchantId}/discount/{campaignId}": {
      "get": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Sepet İndirimi Detay Sorgulama",
        "description": "Satıcının ilgili sepet indiriminin detaylarını sorgulamasına olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Sepet İndirimi Detay Sorgulama",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "İşlem başarılı. Kampanya detay bilgilerini döner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfCampaignDiscountDetailResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/self-campaign/{merchantId}/cancel-discount": {
      "post": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Sepet İndirimi İptali",
        "description": "Satıcının ilgili sepet indirimini iptal etmesine olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Sepet İndirimi İptali",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Kampanya iptali için gerekli olan kampanya ID bilgisini içeren isteği temsil eder.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSelfCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İşlem başarılı. Kampanya iptali gerçekleştirilmiştir.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek. Gönderilen verilerde hata var.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/self-campaign/{merchantId}/limits": {
      "get": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Sepet İndirimi Limitleri Sorgulama",
        "description": "Entegratörün sepet indirimi limitlerini sorgulamasına olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Sepet İndirimi Limitleri Sorgulama",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "İşlem başarılı. Sepet indirimi limit bilgilerini döner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/self-campaign/{merchantId}/budgets": {
      "get": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Sepet İndirimi Bütçeleri Sorgulama",
        "description": "Entegratörün sepet indirimi bütçelerini sorgulamasına olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Sepet İndirimi Bütçeleri Sorgulama",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "İşlem başarılı. Sepet indirimi bütçe bilgilerini döner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{merchantId}": {
      "get": {
        "tags": [
          "Self-Campaign"
        ],
        "summary": "Satıcı Ürün Kategorileri Sorgulama",
        "description": "Entegratörün ilgili satıcının satış yaptığı kategorileri sorgulamasına olanak sağlar. İstek Limiti: “500 istek/1 saniye”",
        "operationId": "Satıcı Ürün Kategorileri Sorgulama",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "İşlem başarılı. Satıcının ürün kategorileri bilgilerini döner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantCategoriesResponse"
                }
              }
            }
          },
          "500": {
            "description": "Sunucu hatası. İşlem sırasında bir sorun oluştu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateTLSelfCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "description": "Kampanyanın satıcıya görülecek ismi."
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "default": "2023-04-18T10:55:00.000Z",
            "nullable": false,
            "description": "Kampanya başlangıç tarihi."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "default": "2023-04-18T21:55:00.000Z",
            "nullable": false,
            "description": "Kampanya bitiş tarihi."
          },
          "conditionCategories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Kampanyanın geçerli olacağı kategori idleri."
          },
          "conditionSkus": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Kampanyanın geçerli olacağı SKU bilgileri."
          },
          "budget": {
            "type": "integer",
            "nullable": false,
            "description": "Kampanyanın bütçesi."
          },
          "discountAmount": {
            "type": "integer",
            "nullable": false,
            "description": "Kampanya indirim oranı."
          },
          "conditionAmount": {
            "type": "integer",
            "nullable": false,
            "description": "Kampanyanın geçerli olacağı alt limit."
          },
          "oneTimeUsage": {
            "type": "boolean",
            "nullable": false,
            "description": "Kampanyanın müşteri bazında tek kullanımlık olması durumunu belirler."
          }
        },
        "additionalProperties": false
      },
      "CreatePercentSelfCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "description": "Kampanyanın satıcıya görülecek ismi."
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "default": "2023-04-18T10:55:00.000Z",
            "nullable": false,
            "description": "Kampanya başlangıç tarihi."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "default": "2023-04-18T21:55:00.000Z",
            "nullable": false,
            "description": "Kampanya bitiş tarihi."
          },
          "conditionCategories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Kampanyanın uygulanacağı kategori ID listesini belirtir."
          },
          "conditionSkus": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Kampanyanın uygulanacağı SKU listesini belirtir."
          },
          "discountPercentage": {
            "type": "integer",
            "nullable": false,
            "description": "Uygulanacak yüzde indirimin değerini belirtir."
          },
          "conditionAmount": {
            "type": "integer",
            "nullable": false,
            "description": "İndirimin geçerli olması için gerekli minimum sepet tutarı."
          },
          "maxDiscountAmount": {
            "type": "integer",
            "nullable": false,
            "description": "Uygulanabilecek maksimum indirim tutarını belirtir."
          },
          "maxCartCount": {
            "type": "integer",
            "nullable": false,
            "description": "Kampanyanın geçerli olacağı maksimum sepet sayısı."
          },
          "oneTimeUsage": {
            "type": "boolean",
            "nullable": false,
            "description": "Kampanyanın müşteri bazında tek kullanımlık olup olmadığını belirtir."
          }
        },
        "additionalProperties": false
      },
      "CreateXYSelfCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "description": "Kampanya için satıcıya gösterilecek isim."
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "default": "2023-04-18T10:55:00.000Z",
            "nullable": false,
            "description": "Kampanyanın başlangıç tarih ve saatini belirtir."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "default": "2023-04-18T21:55:00.000Z",
            "nullable": false,
            "description": "Kampanyanın bitiş tarih ve saatini belirtir."
          },
          "conditionCategories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Kampanyanın geçerli olacağı kategori ID listesini içerir."
          },
          "conditionSkus": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Kampanyanın geçerli olacağı SKU bilgilerini içerir."
          },
          "conditionProductCount": {
            "type": "integer",
            "nullable": false,
            "description": "Kampanyanın uygulanması için sepet içinde olması gereken ürün adedini belirtir. (X Al Y Öde'deki X)"
          },
          "mustPayProductCount": {
            "type": "integer",
            "nullable": false,
            "description": "İndirim uygulanabilmesi için müşterinin ödemesi gereken ürün adedini belirtir. (X Al Y Öde'deki Y)"
          },
          "iterationCount": {
            "type": "integer",
            "nullable": false,
            "description": "Kampanyanın tekrar edilebilme sayısını belirtir."
          },
          "maxCartCount": {
            "type": "integer",
            "nullable": false,
            "description": "Kampanyanın geçerli olacağı maksimum sepet sayısı."
          },
          "oneTimeUsage": {
            "type": "boolean",
            "nullable": false,
            "description": "Kampanyanın müşteri bazında tek seferlik kullanım olup olmadığını belirler."
          }
        },
        "additionalProperties": false
      },
      "CancelSelfCampaignRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "integer",
            "nullable": false,
            "description": "İptal edilecek kampanyanın benzersiz ID'sini belirtir."
          }
        },
        "additionalProperties": false
      },
      "SelfCampaignDiscountListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "İşlemin başarılı olup olmadığını belirtir."
          },
          "data": {
            "type": "object",
            "description": "Toplam kayıt sayısı ve kampanya listesini içerir.",
            "properties": {
              "totalCount": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SelfCampaignDiscountListItem"
                }
              }
            }
          }
        }
      },
      "SelfCampaignDiscountListItem": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "integer",
            "description": "Kampanyanın benzersiz kimliği."
          },
          "name": {
            "type": "string",
            "description": "Kampanyanın adı."
          },
          "description": {
            "type": "string",
            "description": "Kampanyaya ait detaylı açıklama."
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Kampanyanın başlangıç tarih ve saati."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "Kampanyanın bitiş tarih ve saati."
          },
          "status": {
            "type": "integer",
            "description": "Kampanyanın mevcut durumunu belirtir."
          },
          "limit": {
            "type": "number",
            "description": "Kampanya için belirlenen kullanım limiti."
          }
        }
      },
      "MerchantCategoriesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "İşlemin başarılı olup olmadığını belirtir."
          },
          "data": {
            "type": "array",
            "description": "Satıcının satış yaptığı kategori bilgilerini içeren liste.",
            "items": {
              "$ref": "#/components/schemas/MerchantCategoryItem"
            }
          }
        }
      },
      "MerchantCategoryItem": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "integer",
            "description": "Kategorinin benzersiz kimliği."
          },
          "categoryName": {
            "type": "string",
            "description": "Kategorinin adı."
          },
          "parentCategoryId": {
            "type": "integer",
            "description": "Üst kategori kimliği."
          },
          "categoryStatus": {
            "type": "boolean",
            "description": "Kategorinin durumu."
          },
          "parentCategories": {
            "type": "array",
            "description": "Üst kategorilere ait detaylı bilgiler.",
            "items": {
              "$ref": "#/components/schemas/ParentCategoryItem"
            }
          },
          "categorySortId": {
            "type": "integer",
            "description": "Kategori sıralama numarası."
          },
          "categoryLevel": {
            "type": "integer",
            "description": "Kategorinin seviye bilgisi."
          },
          "isCampaign": {
            "type": "boolean",
            "description": "Kategorinin kampanya bilgisi."
          },
          "isHX": {
            "type": "boolean",
            "description": "Kategori için HX durumunu belirtir."
          },
          "isLeaf": {
            "type": "boolean",
            "description": "Kategorinin bir 'en alt kategori' olum olmadığını belirtir"
          }
        }
      },
      "ParentCategoryItem": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "integer",
            "description": "Üst kategorinin benzersiz kimliği."
          },
          "categoryName": {
            "type": "string",
            "description": "Üst kategorinin adı."
          },
          "parentCategoryId": {
            "type": "integer",
            "description": "Üst kategorinin üst kategori kimliği."
          },
          "categoryStatus": {
            "type": "boolean",
            "description": "Üst kategorinin durumu."
          },
          "CategorySortId": {
            "type": "integer",
            "description": "Üst kategorinin sıralama numarası."
          },
          "CategoryLevel": {
            "type": "integer",
            "description": "Üst kategorinin seviye bilgisi."
          }
        }
      },
      "LimitsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "İşlemin başarılı olup olmadığını belirtir."
          },
          "data": {
            "type": "object",
            "description": "Limit bilgileri ve toplam kayıt sayısını içerir.",
            "properties": {
              "rowCount": {
                "type": "integer"
              },
              "limits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LimitsItem"
                }
              }
            }
          }
        }
      },
      "LimitsItem": {
        "type": "object",
        "properties": {
          "lowerLimit": {
            "type": "integer",
            "description": "Geçerli limitin alt sınır değerini belirtir."
          },
          "campaignAmounts": {
            "type": "array",
            "description": "Kampanya için belirlenen tutar değerlerinin listesini içerir.",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "BudgetsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "İşlemin başarılı olup olmadığını belirtir."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "SelfCampaignDiscountDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "İşlemin başarılı olup olmadığını belirtir."
          },
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "integer",
                "description": "Kampanya tipini belirtir."
              },
              "budget": {
                "type": "number",
                "nullable": true,
                "description": "Kampanya için belirlenen toplam bütçeyi belirtir."
              },
              "remainingBudget": {
                "type": "number",
                "nullable": true,
                "description": "Kampanyada kalan kullanılabilir bütçeyi belirtir."
              },
              "conditionAmount": {
                "type": "number",
                "description": "Kampanyanın uygulanabilmesi için gerekli olan alt limiti belirtir."
              },
              "discountAmount": {
                "type": "number",
                "description": "Uygulanan indirim miktarını belirtir."
              },
              "maxDiscountAmount": {
                "type": "number",
                "nullable": true,
                "description": "Yüzde indirimi kampanyasında uygulanabilecek maksimum indirim tutarını belirtir."
              },
              "maxUsageAmount": {
                "type": "number",
                "description": "Kampanyanın maximum kullanım miktarını belirtir."
              },
              "remainingUsageCount": {
                "type": "number",
                "nullable": true,
                "description": "Kalan kullanılabilir kampanya kullanım sayısını belirtir."
              },
              "iterationCount": {
                "type": "integer",
                "nullable": true,
                "description": "Kampanyanın tekrar edilebilme sayısını belirtir."
              },
              "startDate": {
                "type": "string",
                "format": "date-time",
                "description": "Kampanyanın başlangıç tarih ve saatini belirtir."
              },
              "endDate": {
                "type": "string",
                "format": "date-time",
                "description": "Kampanyanın bitiş tarih ve saatini belirtir."
              },
              "status": {
                "type": "integer",
                "description": "Kampanyanın mevcut durumunu belirtir."
              },
              "conditionCategories": {
                "type": "array",
                "description": "Kampanyanın geçerli olacağı kategori ID listesini içerir.",
                "items": {
                  "type": "string"
                },
                "nullable": true
              },
              "conditionSkus": {
                "type": "array",
                "description": "Kampanyanın geçerli olacağı SKU listesini içerir.",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            }
          }
        }
      },
      "CreateSelfCampaignResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "İşlemin başarılı olup olmadığını belirtir."
          },
          "data": {
            "type": "object",
            "description": "Oluşturulan kampanyaya ait bilgileri içerir.",
            "properties": {
              "campaignId": {
                "type": "integer",
                "description": "Oluşturulan kampanyanın benzersiz kimliğini belirtir."
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "İşlemin başarılı olup olmadığını belirtir."
          }
        }
      },
      "FailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": false,
            "description": "İşlemin başarısız olduğunu belirtir."
          },
          "errors": {
            "type": "array",
            "description": "İşlem sırasında oluşan hata mesajlarını içerir.",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basic": {
        "type": "http",
        "description": "Basic Authorization",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basic": []
    }
  ]
}
